<html>
  <header>
    <style>
      @font-face {
        font-family: 'Malssami815';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Malssami815.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
      body { font-family:'Malssami815'}
    </style>
  </header>
  <body>
    <div align="center">
      <a href="<%= url %>" style="text-decoration:none" height=38em width=38em>
      <table style="background-image:url('https://cdn.discordapp.com/attachments/859214492265480213/902605438594457641/email2.png?width=466&height=466'); background-size:cover;background-repeat:no-repeat" width="466" height="466" align="center">
        <tbody align="center">
          <td align="center" style="font-size:20px; color:black">
            반갑소. <%= name %>나리<br><br>
            입학을 마무리하기 위해<br>
            족자를 눌러 제출해주시오.
          <td>
        </tbody>
      </table>
    </div>
  </body>
</html>
